:root {
    --primary-color: #8cc0e8; /* Verde tipo neón */
    --secondary-color: #F8F9FA; /* Blanco suave */
    --neutral-gray: #E5E5E5; /* Gris claro */
    --font-color: #333333; /* Gris oscuro para texto */
    --error-color: #FF6B6B; /* Rojo suave para errores */
    --success-color: #75bb75; /* Verde para éxito */
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content-wrapper > h3{
    color: var(--font-color);
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    border-bottom: .3px solid #33333335;
    text-align: left;
}

h2 {
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 40px 0;
    margin-top: 20px;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 65px 0;
}

.summary-table th, .summary-table td {
    border: 1px solid var(--neutral-gray);
    padding: 10px;
    text-align: left;
}

.summary-table th {
    background-color: var(--primary-color);
    color: white;
}

.summary-table tr:nth-child(even) {
    background-color: var(--neutral-gray);
}

.amount {
    font-weight: bold;
    color: var(--success-color);
}

/* Checkbox */
.checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .styled-checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #8cc0e8;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
  }
  
  .styled-checkbox:checked {
    background-color: #fff;
    border-color: #8cc0e8;
  }
  
  .styled-checkbox:checked::after {
    content: "✔";
    color: green;
    position: absolute;
    top: -2px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Botón con pulgar */
  .approve-button {
    border: 2px solid #8cc0e8;
    background-color: #8cc0e81e;
    color: #8cc0e8;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
  }
  
  .approve-button:hover {
    background-color: #8cc0e838;
  }

  .paid-row {
    background-color: #e5f8e5 !important; /* verde suave */
    transition: background-color 0.3s ease;
  }