{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="/static/images/escudo-chubut.png" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/static/images/escudo-chubut.png" alt="Escudo de Chubut">
        </div>
        <h1>Iniciar Sesión</h1>
        {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <form method="post" id="login-form">
            {% csrf_token %}
            <p>
                <label for="id_username">Usuario</label>
                <input type="text" name="username" maxlength="150" autofocus required id="id_username" class="form-control" placeholder="Usuario">
            </p>
            <p style="position:relative;">
                <label for="id_password">Contraseña</label>
                <span class="password-wrapper">
                    <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña">
                    <span class="toggle-password" id="togglePassword" tabindex="0" aria-label="Mostrar u ocultar contraseña">
                        <img src="/static/images/eye-closed.png" alt="Mostrar contraseña" id="eyeIcon">
                    </span>
                </span>
            </p>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <div class="extra-links">
            <a href="/password_reset/">¿Olvidaste tu contraseña?</a>
            <p>¿No tienes una cuenta? <a href="/register/">Regístrate</a></p>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
